<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head'); %>
    <style>
      svg {
        height: 50px;
        width: 50px;
      }
    </style>
    <title>Lista de ícones</title>
  </head>
  <body>
    <%- include('./components/nav'); %>
    <main class="container-fluid">
      <div class="container">
        <input
          type="text"
          class="form-control form-control-lg my-5"
          id="procurar"
          placeholder="Procurar"
          aria-label="Procurar"
        />

        <div class="row">
          <% icones.forEach(function(icone) { %>
          <div class="col-sm-3 mb-3 icone">
            <%- icone.svg %>
            <span class="file-name"><%= icone.nomeArquivo %></span>
          </div>
          <% })%>
        </div>
      </div>
    </main>
    <%- include('./components/footer'); %>
  </body>
</html>
